<div class="antialiased text-gray-900 px-6">
  <div class="max-w-xl mx-auto py-12 divide-y md:max-w-4xl">
    <div class="py-8">
      <h1 class="text-4xl font-bold">@mad-coders/sylius-plugin-skeleton-generator</h1>
      <p class="mt-2 text-lg text-gray-600">
        Generate plugin skeleton with own plugin name and namespace.
      </p>
      <div class="mt-4 flex space-x-4">
        <a class="text-lg underline" href="/why-sylius-plugin-skeleton">Why Plugin?</a>
        <a class="text-lg underline" href="/sylius-plugin-skeleton-generator">Plugin Generator</a>
        <a class="text-lg underline" target="_blank" href="https://github.com/mad-coders/sylius-plugin-skeleton-generator">Documentation</a>
        <a class="text-lg underline" target="_blank" href="https://github.com/mad-coders">More Madcoders Plugin</a>
      </div>
    </div>

    <!--  App Block  -->
    <div>
      <router-outlet></router-outlet>
    </div>

    <!--  Sponsors Block  -->
    <div class="py-12">
      <div class="grid grid-cols-2 gap-2">
        <div>
          <h2 class="text-2xl font-bold">Architects of this package:</h2>
          <br/>
          <a class="text-lg underline" target="_blank" href="https://github.com/plewandowski">Piotr Lewandowski</a>
          <br/>
          <a class="text-lg underline" target="_blank" href="https://github.com/leomoshko">Leonid Moshko</a> <br/>
        </div>
        <div>
          <h2 class="text-2xl font-bold">In association with:</h2>
          <br/>
          <a class="text-lg underline" target="_blank" href="https://macopedia.com">
            <img [src]="imageMacopediaSrc" [alt]="imageMacopediaAlt">
          </a>
        </div>
      </div>
    </div>
    <div class="py-12">
      <div class="grid grid-cols-1 gap-2">
        <h2 class="text-2xl font-bold">Developed by MADCODERS:</h2>
        <a target="_blank" href="https://madcoders.co">
          <img [src]="imageMadcodersSrc" [alt]="imageMadcodersAlt">
        </a>
      </div>
    </div>
  </div>
</div>
