<div class="antialiased text-gray-900 px-6">
  <div class="max-w-xl mx-auto py-12 divide-y md:max-w-4xl">
    <div class="py-8">
      <h1 class="text-4xl font-bold">
        <a target="_blank" href="https://github.com/mad-coders/sylius-plugin-skeleton-generator">
          @mad-coders/sylius-plugin-skeleton-generator
        </a>
      </h1>
      <p class="mt-2 text-lg text-gray-600">
        Generate plugin skeleton with own plugin name and namespace.
      </p>
    </div>
    <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="flex flex-wrap items-center text-base">
        <a class="mr-5 hover:text-gray-900" href="/why-sylius-plugin-skeleton">Why Plugin?</a>
        <a class="mr-5 hover:text-gray-900" href="/sylius-plugin-skeleton-generator">Plugin Generator</a>
        <a class="mr-5 hover:text-gray-900" target="_blank" href="https://github.com/mad-coders/sylius-plugin-skeleton-generator">Documentation</a>
        <a class="hover:text-gray-900" target="_blank" href="https://github.com/mad-coders">More Madcoders Plugin</a>
      </nav>
    </div>
    </header>
    <!--  App Block  -->
    <div>
      <router-outlet></router-outlet>
    </div>

    <!--  Sponsors Block  -->
    <div class="py-12">
      <div class="grid grid-cols-2 gap-2">
        <div>
          <h2 class="text-2xl font-bold">Architects of this package:</h2>
          <br/>
          <a class="text-lg underline" target="_blank" href="https://github.com/plewandowski">Piotr Lewandowski</a>
          <br/>
          <a class="text-lg underline" target="_blank" href="https://github.com/leomoshko">Leonid Moshko</a> <br/>
        </div>
        <div>
          <h2 class="text-2xl font-bold">In association with:</h2>
          <br/>
          <a class="text-lg underline" target="_blank" href="https://macopedia.com">
            <img [src]="imageMacopediaSrc" [alt]="imageMacopediaAlt">
          </a>
        </div>
      </div>
    </div>
    <div class="py-12">
      <div class="grid grid-cols-1 gap-2">
        <h2 class="text-2xl font-bold">Developed by MADCODERS:</h2>
        <a target="_blank" href="https://madcoders.co">
          <img [src]="imageMadcodersSrc" [alt]="imageMadcodersAlt">
        </a>
      </div>
    </div>

    <footer class="text-gray-600 body-font">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <span class="ml-3 text-xl">Macopedia & Madcoders </span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 <a href="https://github.com/mad-coders/sylius-plugin-skeleton-generator/blob/main/LICENSE"> EUPL 1.2 license — </a>
          <a href="https://twitter.com/SanabiaLeo" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@SanabiaLeo</a> |
          <a href="https://twitter.com/macopedia" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@macopedia</a>

        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a href="https://www.facebook.com/macopedia" class="text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a href="https://twitter.com/madcoders" class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a href="https://www.instagram.com/macopedia_softwarehouse" class="ml-3 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/company/macopedia-sp-z-o-o-/" class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
      </div>
    </footer>

  </div>
  <a href="https://github.com/mad-coders/sylius-plugin-skeleton-generator" class="github" target="_blank" rel="noopener noreferrer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 .5C5.37.5 0 5.78 0 12.292c0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56C20.565 21.917 24 17.495 24 12.292 24 5.78 18.627.5 12 .5z"></path>
    </svg>
    GitHub
  </a>
</div>
