<div class="antialiased text-gray-900 px-6">
  <div class="max-w-xl mx-auto py-12 divide-y md:max-w-4xl">
    <div class="py-8">
      <h1 class="text-4xl font-bold">@mad-coders/sylius-plugin-skeleton-generator</h1>
      <p class="mt-2 text-lg text-gray-600">
        Generate plugin skeleton with own plugin name and namespace.
      </p>
      <div class="mt-4 flex space-x-4">
        <a class="text-lg underline" href="https://github.com/mad-coders/sylius-plugin-skeleton-generator">Documentation</a>
        <a class="text-lg underline" href="/plugin-list.html">More Madcoders Plugin</a>
      </div>
    </div>
    <div class="py-12">
      <h2 class="text-2xl font-bold">Lorum Ipsum</h2>
      <div class="mt-8 max-w-md">
        <div class="grid grid-cols-1 gap-6">
          <!--  Sylius Version  -->
          <label class="block">
            <span class="text-gray-700">Sylius Skeleton version:</span>
            <select class="
                    block
                    w-full
                    mt-1
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  ">
              <option selected>1.11</option>
            </select>
          </label>
          <!--  Plugin Namespace  -->
          <label class="block">
            <span class="text-gray-700">Plugin Namespace</span>
            <input type="text" class="
                    mt-1
                    block
                    w-full
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  " placeholder="">
          </label>
          <!--  Plugin Name  -->
          <label class="block">
            <span class="text-gray-700">Plugin Name</span>
            <input type="text" class="
                    mt-1
                    block
                    w-full
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  " placeholder="" id="pluginNameInput">
          </label>
          <!--  Plugin Name Camel -->
          <label class="hidden">
            <span class="text-gray-700">Plugin Name (Camel Case)</span>
            <input type="text" class="
                    mt-1
                    block
                    w-full
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  " placeholder="" id="pluginNameInputCamel">
          </label>
          <!--  Plugin Name Snake -->
          <label class="hidden">
            <span class="text-gray-700">Plugin Name (Snake Case)</span>
            <input type="text" class="
                    mt-1
                    block
                    w-full
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  " placeholder="" id="pluginNameInputSnake">
          </label>
          <!-- Compose Package Name -->
          <label class="hidden">
            <span class="text-gray-700">Compose Package Name</span>
            <input type="text" class="
                    mt-1
                    block
                    w-full
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  " placeholder="" id="pluginComposePackageName">
          </label>
          <!--  Email to send packages -->
          <label class="block">
            <span class="text-gray-700">Email address</span>
            <input type="email" class="
                    mt-1
                    block
                    w-full
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  " placeholder="john@example.com">
          </label>
          <!--  Rodo Checkbox  -->
          <div class="block">
            <div class="mt-2">
              <div>
                <label class="inline-flex items-center">
                  <input type="checkbox" class="
                          rounded
                          border-gray-300
                          text-indigo-600
                          shadow-sm
                          focus:border-indigo-300
                          focus:ring
                          focus:ring-offset-0
                          focus:ring-indigo-200
                          focus:ring-opacity-50
                        " checked="">
                  <span class="ml-2">Rodo </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-12">
        <div class="grid grid-cols-2 gap-2">
          <div>
            <h2 class="text-2xl font-bold">Architects of this package:</h2>
            <br/>
            <a class="text-lg underline" target="_blank" href="https://github.com/plewandowski">Piotr Lewandowski</a> <br/>
            <a class="text-lg underline" target="_blank" href="https://github.com/leomoshko">Leonid Moshko</a> <br/>
          </div>
          <div>
            <h2 class="text-2xl font-bold">Sponsored by:</h2>
            <br/>
            <a class="text-lg underline" target="_blank" href="https://macopedia.com">LOGO MACOPEDIA</a> <br/>
          </div>
        </div>
    </div>
    <div class="py-12">
      <div class="grid grid-cols-1 gap-2">
        <h2 class="text-2xl font-bold">Developed by MADCODERS:</h2>
        <a target="_blank" href="https://madcoders.co">
          <img [src]="imageMadcodersSrc" [alt]="imageMadcodersAlt">
        </a>
      </div>
    </div>
  </div>
</div>
